<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
        <h2>Añadir nuevo proveedor</h2>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre">
            </div>
            <div class="form-group">
                <label for="cif">C.I.F.</label>
                <input type="text" class="form-control" id="cif">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion">
            </div>
            <div class="form-group">
                <label for="cp">Código Postal</label>
                <input type="text" class="form-control" id="cp">
            </div>
            <div class="form-group">
                <label for="localidad">Localidad</label>
                <input type="text" class="form-control" id="localidad">
            </div>
            <div class="form-group">
                <label for="provincia">Provincia</label>
                <input type="text" class="form-control" id="provincia">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="number" class="form-control" id="telefono">
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="contacto">Persona de contacto</label>
                <input type="text" class="form-control" id="contacto">
            </div>
            <button type="submit" class="btn btn-success">
                Añadir Proveedor</button>
        </form>
        <hr>
    </div>
</div>